.grid-ul {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;
	list-style: none;
	padding: 0;
}

.grid-li {
	background-color: #fff3e3;
	border: 1px solid #00000014;
	padding: 10px;
	text-align: center;
	width: 20%;
}
